{% extends "base.html.twig" %}
{% block body %}
    <h1> Séances </h1>
    {% if seances is empty %}
        <strong>Vous n'avez réalisé aucune séance pour le moment.</strong>
    {% else %}
        <table class="table">
            <thead class="table-dark">
            <td>Date</td>
            <td>Matière</td>
            <td>Groupes</td>
            <td>Absences</td>
            <td>Opérations</td>
            </thead>
            <tbody>
            {% for seance in seances %}
                <tr class="bg-light">
                    <td>{{ seance.date }}</td>
                    <td>{{ seance.matiere.nomMatiere }}</td>
                    <td>
                        {% for groupe in seance.groupes %}
                            {{ groupe.nomGroupe }}
                        {% endfor %}
                    </td>
                    <td>{{ seance.absences|length }}</td>
                    <td><a href="{{ path('professeur.seanceDetails',{'id': seance.id}) }}">Consulter</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}